.data{
  background-color: #eee;
  /* margin:25px;  */
  width:50%;
  height:300px;
  overflow:scroll;

 
 }

table{
   border-collapse:collapse;
   margin:0px ;
  width: 800px;
  border:2px solid #ddd;
  font-size: 90%;
   border-collapse:separate;
   border:none;
   border-spacing:0;
   table-layout:fixed;
}

table th{
  padding:3px;
  padding:1rem 1rem; 
  text-align: left;
  height:40px;
  position:sticky;
  top:0;
  background-color: #eee;
} 

table td{
  background-color: #eee;
  text-align: left;
  padding:1rem 1rem;
  /* margin:15px; */
}

table thead th:first-child{
  position:sticky;
  left:0;
  z-index:2;
}

table tbody th{
  position:sticky;
  left:0;
  background:#eee;
  z-index:1;
}