.data{
   border-collapse:collapse;
  background-color: turquoise;
  margin:25px; 

 
 }

.tr{
  background-color: tomato;
  margin:0px 5px 5px 5px;
  font-size: 15px;
  text-align:left;
  font-weight: bold;
  padding:12px 15px;
}

.ID{
  margin:0px;
} 